@import "bootstrap/bootstrap";


$darkgreen: #007733;
$lightgreen: #6ccb33;

$sidebar-offset: 250px;

body {
  padding-top: 60px;
  font-family: Georgia, Palatino, serif;
}

p {
	text-align: justify;
}

h1, h2, h3 {
	color: $darkgreen;
}

a {
	font-weight: bold;
	color: $darkgreen;

	&:hover {
		text-decoration: underline;
		color: $lightgreen;
	}
}

.well {
	img.img-responsive {
		max-width: 100%;
	}
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #page-content {
	  width: 100%;
	  max-width: 750px;
	  padding: 15px;
	}

	/* With Navbar shown */
	&.nav-shown {
		padding-left: $sidebar-offset;

		#sidebar {
	    width: $sidebar-offset;
	    margin-left: -$sidebar-offset;
	  }
		
	  #page-content {
	  	@media (max-width: 768px) {
	    	position: absolute;
	  	}
		  margin-right: -$sidebar-offset;
		}
	}
}




/* Navbar Styles */
.navbar-default {
	background-color: $darkgreen;
	border-color: $lightgreen;

	.navbar-brand {
		color: #fff;
		&:hover, &:focus {
			color: #fff;
		}

	}

	.navbar-toggle {
		border-color: $darkgreen;



		&:hover, &:focus {
			background-color: $lightgreen; 
		}
		.icon-bar {
			background-color: #fff;
		}
	}
}


/* Sidebar Styles */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: $sidebar-offset - 22px;
  height: 100%;
	margin-left: -442px;
  overflow-y: auto;

  text-align: right;
  padding-right: 20px;
  border-right: 2px dashed $darkgreen;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  h2 {
  	text-transform: uppercase;
  	color: black;
  	font-size: 14px;
  }

  ul {
  	 list-style: none;
  }
}