* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

body {
  background: #efefef;
}

.Home {
}

.Home__hero {
  /* background: url('/images/home-splash.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home__hero h1 {
  font-size: 40px;
}

.Home__hero h2 {
  font-size: 30px;
}

.Home__about {
  height: 100vh;
}
